/*
TimeouT CSS
*/

body {
  background: #f9f9f9;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-style: normal;
}  

html,body { overflow-x: hidden; }

h1,h2,h3,h4, .navbar-nav a {
  font-weight: bold;
  text-transform: uppercase;
}

.green {
	color: #94b629;
}

.white {
	color: #FFFFFF;
}

.blackgray {
	color: #282828;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 40px;
  padding-bottom: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:hover { text-decoration: none; }

/* preloader section */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}
.sk-spinner-rotating-plane.sk-spinner {
  width: 30px;
  height: 30px;
  background-color: #2db458;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

/* navigation section */
.sticky-navigation { opacity: 0; }
.navbar-default {
  background: #fff;
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-brand {
  line-height: 38px;
  position: relative;
  bottom: 20px;
}
.navbar-default .navbar-nav li a {
  color: #202020;
  font-weight: 700;
  line-height: 38px;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-default .navbar-nav li a:hover { color: #2db458; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2db458;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2db458;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }
.navbar-default .navbar-toggle .icon-bar {
    background: #2db458;
    border-color: transparent;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}
.site-logo {
  height: 68px;
  width: auto;
}

/* home section */  
.tm-home {
  background: url('../images/morning.jpg') no-repeat center center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding-top: 180px;
  padding-bottom: 180px;
}
.tm-home-logo {
	font-size: 64px;
	color: #9C0;
}
.tm-home-header {
  font-size: 48px;
  font-style: normal;
}
.tm-home .btn {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  width: 140px;
  height: 60px;
  margin-top: 60px;
  padding: 20px 20px;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.tm-home .btn:hover { background: #2db458; }

/* social icons section */
.tm-icons .tasks {
	text-align: center;

}

.tm-icons .media .media-heading { padding-bottom: 10px; }

.tm-icons .tm-icon-1,
.tm-icons .tm-icon-2,
.tm-icons .tm-icon-3 {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  cursor: pointer;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: -40px;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
.tm-icons a {
  border: 2px solid #2db458;
  border-radius: 50%;
  color: #202020;
  font-size: 24px;
  padding: 24px;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  background-color: #fff;
}
.tm-icons .tm-icon-1 { border-left: 4px solid #2db458; }
.tm-icons .tm-icon-1,
.tm-icons .tm-icon-2 {
  border-right: 1px solid #f9f9f9;
}
.tm-icons .tm-icon-1:hover { background: #9C9; }
.tm-icons .tm-icon-2:hover { background: #9CF; }
.tm-icons .tm-icon-3:hover { background: #CC9; }

/* overview section */
.tm-overview {
    padding-top: 80px;
    padding-bottom: 80px;
  }
.tm-overview img { padding-bottom: 16px; }
.tm-overview .about-des {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  border-right: 4px solid #2db458;
  padding: 60px;
  position: relative;
  top: 70px;
}
.tm-overview-h3 { padding-bottom: 20px; }
.tm-overview .about-bottom-des {
  background: #ffffff;
  -webkit-box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.08);
  border-left: 4px solid #2db458;
  padding: 40px 20px 40px 20px;
  position: relative;
  top: 140px;
}




/* video section */
.tm-video { padding-top: 80px; }

.tm-video .video-title {
  background: url('../images/park.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px;
  padding-bottom: 80px;
}

.tm-video .video {
  background: #ffffff
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}


/* team section */
.tm-team .container {
  padding: 0;
}
.tm-team .team-title {
  background: url('../images/meeting2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tm-team .media {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
  position: relative;
  bottom: 40px;
  margin-bottom: 50px;
}
.tm-team .media .media-body { padding: 40px 20px 35px 20px; }
.tm-team .media .border-right { border-right: 4px solid #2db458; }
.tm-team-member-heading-2 {
  color: #2db458;
  font-weight: bold;
}

/* portfolio section */
.tm-design {
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px;
  padding-bottom: 80px;
}
.tm-design img {
  width: 100%;
}
/* FILTER CSS */
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
}
.filter-wrapper li .selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    color: #2db458;
  }

/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* documents section */
.tm-doc {
  background: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* footer section */
footer {
  text-align: center;
  vertical-align: middle;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer img { display: inline-block; }
footer hr { width: 80px; }

@media (max-width:1200px) {
  .tm-home {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (max-width:980px) {
  .navbar-default .navbar-nav li a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .tm-home {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .tm-icons .tm-icon-1,
  .tm-icons .tm-icon-2,
  .tm-icons .tm-icon-3 {
	  border-left: 4px solid #2db458;
	  margin: 15px;
  }
  .tm-icons .tm-icon-1 {
	  margin-top: -40px;
  }
}

@media (max-width: 767px) {
  .site-logo {
    height: 50px;
    padding-left: 5px;    
  }
  .tm-overview-logo { font-size: 36px; }
  .tm-home-header { font-size: 32px; }
  
}

@media (max-width: 480px) {
  .navbar-default .navbar-brand {
    position: relative;
    bottom: 27px;
  }
  .tm-home {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .tm-overview-header { font-size: 20px; }
  .tm-overview-h3 { font-size: 18px; }
  .tm-team .media { max-width: 270px; }
  .tm-team .media .media-object { padding-right: 0; }
  .tm-team img {
    width: auto;
    height: auto;
  }
  .tm-team .media .border-right { border-right: 0; }
  .tm-contact .contact-form { padding-top: 140px; }
}