/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#Overview {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.img-circle {
	padding-right: 10px;
}

#video {
	padding-top: 0px;
	padding-bottom: 25px;
}

.jumbotron .picDescrip {
	font-size: 10pt;
	text-align: center;
}

.jumbotron #logo {
	height: 90px;
	text-align: left;
	background-color: white;
	width: 100%;
}

.jumbotron #logo img {
	height: 100%;
	margin-bottom: 5px;
}

.jumbotron {
	background-color: white;
}




