/*
 * Janet Gao
 * Last updated: December 10, 2015
 */

* {
	margin: 0px;
}

body {
	color: #222222;
	font-family: "PT Sans Narrow", "Calibri Light", sans-serif;
	font-size: 12pt;
	overflow-x: hidden;
	text-align: center;
}

a {
	color: #3498DB;
	text-decoration: none;
}

a, #footer a:hover, #main_content a:hover, #navigation a:hover {
	transition-property: color;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.app_img, .team_img, #video video {
	margin-top: 15px;
}

.app_img, hr, .team_img {
	margin-bottom: 15px;
}

#banner {
	background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('capitol.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 850px;
	left: 0px;
	position: absolute;
	top: 0px;
}

#banner, #main_content, #navbar {
	width: 100%;
}

#banner h1 {
	color: #3498DB;
	font-size: 80pt;
	text-shadow: 0px 0px 30px #000000;
	text-transform: uppercase;
}

#banner h2 {
	color: #ffffff;
	font-size: 20pt;
	margin-bottom: 40px;
	text-shadow: 0px 0px 15px #000000;
}

#banner_button {
	background-color: #3498DB;
	border-radius: 0px;
	box-shadow: 0px 0px 15px #000000;
	color: #ffffff;
	font-size: 20pt;
	padding: 15px;
}

#banner_button, #banner_button:hover {
	transition-property: box-shadow;
	transition-duration: .3s;
	transition-timing-function: linear;
}

#banner_button:hover {
	box-shadow: 0px 0px 15px #f3e3b7;
}

#banner_content {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
	margin-top: 300px;
	z-index: 50;
}

#brand {
	float: left;
	font-size: 30pt;
	padding-left: 40px;
	
}

.coupled_block, .link_block {
	display: inline-block;
}

#footer {
	background-color: #000000;
	color: #555555;
	margin-top: 1000px;
	padding: 15px;
}

#footer a:hover, #main_content a:hover, #navigation a:hover {
	color: #265e83;
}

hr {
	border-bottom: 1px solid #555555;
	border-top: 0px;
	width: 30%;
}

hr, #main_content {
	margin-left: auto;
	margin-right: auto;
}

#main_content {
	position: relative;
	top: 850px;
}

#main_content > div {
	font-size: 13pt;
	padding-bottom: 100px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 100px;
}

#main_content > div, #navbar {
	font-family: Oswald, Arial, sans-serif;
}

#main_content > div:nth-child(even) {
	background-color: #eeeeee;
}

#main_content h1 {
	font-family: "News Cycle", "Calibri Light", sans-serif;
	font-size: 35pt;
	margin-bottom: 30px;
	text-transform: uppercase;
}

#navbar {
	height: 75px;
	line-height: 75px;
	position: fixed;
	text-transform: uppercase;
	transition-property: background;
	transition-duration: .2s;
	transition-timing-function: linear;
	z-index: 100;
}

#navigation {
	float: right;
	font-size: 15pt;
	padding-right: 40px;
}

#navigation a {
	margin: 10px;
}

.network_icon {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
	opacity: 1;
}

.network_icon, .network_icon:hover {
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.network_icon:hover {
	opacity: .7;
}

#reports a {
	font-size: 20pt;
}

#reports .link_block {
	margin: 20px;
}

.subtext {
	color: #333333;
	font-weight: 300;
}

.team_img {
	border-radius: 100px;
	margin-left: 15px;
	margin-right: 15px;
}

/* SCALING */

#poliscope_video {
	height: 390px;
	width: 700px;
}

@media screen and (max-width: 720px) {
	#poliscope_video {
		height: 277px;
		width: 500px;
	}
}

#menu_navigation {
	display: none;
}

@media screen and (max-width: 775px) {
	
	#navigation {
		display: none;
	}
	
	#menu_navigation {
		display: block;
		float: right;
		width: 100px;
	}
	
	#menu_navigation a:hover {
		color: #265e83;
	}
	
	#menu_navigation ul {
		background: rgba(0,0,0,.7);
		display: none;
		list-style-type: none;
		padding: 0;
	}
	
	#menu_navigation ul a {
		color: #3498DB;
	}
}

.team_reports_break {
	display: none;
}

@media screen and (max-width: 1095px) {
	.team_reports_break {
		display: initial;
	}
}

#phone_img_break {
	display: none;
}

@media screen and (max-width: 1279px) {
	#phone_img_break {
		display: initial;
	}
}